.encomienda-form{/* control general del contenedor */
    max-width: 800px;
    margin: 0 auto;
    margin-left: auto;
}

.form-control,
.btn-success {/* control de las cajas input */
    margin-top: 10px; 
}