
/* Agrega estilos para el body y el contenido principal */
body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}



.Contenido{
    position: relative;
    z-index: 2;
}





.container{
    /* crea espacio entre los input de este formulario */
    margin-top: 50px;
    display: block;

}

/* Agrega estilos para las etiquetas h2 */
h2 {
    text-align: center;
}


/*esto es el css de la creacion de encomiendas*/


.encomienda-form {
    max-width: 500px; /* Ajusta el ancho máximo según tus preferencias */
    margin: 0 auto; /* Centra la caja horizontalmente */
    padding: 20px; /* Añade relleno para separar los bordes de la caja del contenido */
}

/* Estilos para el formulario dentro de la caja */
.encomienda-form form {
    margin-top: 20px; /* Espacio entre la parte superior de la caja y el formulario */
}

/* Estilos para el botón dentro del formulario */
.encomienda-form form button {
    width: 100%; /* Hace que el botón ocupe el ancho completo del formulario */
}

/* control del footer */

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    margin-top: auto; /* Esto asegura que el footer esté pegado en la parte inferior */
}

/* Css de las tarjetas de definicion de sectores */

.Cards-container {
    display: flex;
    justify-content: space-between; 
    margin-top: 200px; /* Centra la caja horizontalmente */
    padding: 20px; /* Añade relleno para separar los bordes de la caja del contenido */
}

.card {
    width: 100%; /* Ajusta el ancho de las tarjetas según sea necesario */
    margin-right: 100px; /* Ajusta la separación horizontal entre tarjetas según sea necesario */
    /* Otros estilos de las tarjetas según sea necesario */
}



