{%  extends 'logex/feed.html'%}

{%block Titulo  %}
Agregar Encomiendas
{%endblock%}

{% block Contenido %}
  <h2>Lista de Entregas</h2>
  {% if Paquetes %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Remitente</th>
          <th>Paquete</th>
          <th>Receptor</th>
          <th>Cel</th>
          <th>Dia de Retiro</th>
          <th>Detalles</th>
          <th>Direccion</th>
        </tr>
      </thead>
      <tbody>
        {% for entrega in Paquetes %}
          <tr>
            <td>{{ entrega.id_paquete }}</td>
            <td>{{ entrega.cuenta }}</td>
            <td>{{ entrega.nom_paq }}</td>
            <td>{{ entrega.nom_recep }}</td>
            <td>{{ entrega.cel_recep }}</td>
            <td>{{ entrega.fec_reti }}</td>
            <td>{{ entrega.detalles_paq }}</td>
            <td>{{ entrega.direccion.calle_dire }}, {{ entrega.direccion.numeracio_dire }}, {{ entrega.direccion.comuna }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No hay entregas registradas.</p>
  {% endif %}
{% endblock %}