{% extends 'logex/feed.html' %}

{% block Titulo %}
Nueva Encomienda
{% endblock %}

{% block Contenido %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<div class="encomienda-form">
    <div class="row">
        <div class="col-md-12 mx-auto mt-5">
            <div class="card">
                <div class="card-header">Nueva Encomienda</div>
                <div class="card-body">
                    <form class="form" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-success">Agregar Encomienda</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
